.pagamento-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.pagamento-box {
    background-color: #0a5500;
    padding: 30px 40px;
    border-radius: 20px;
    color: white;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.pagamento-box h2 {
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}

.pagamento-box label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
}

.pagamento-box input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    margin-bottom: 10px;
}

.pagamento-box button {
    width: 100%;
    padding: 12px;
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    margin-top: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.pagamento-box button:hover {
    background-color: #e6e6e6;
    box-shadow: 0 5px 15px #0000005e;
    transform: translateY(-2px);

}
