.compras {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    grid-gap: 10px;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1200px;
}

.imagem {
    grid-column: 1;
    grid-row: 1;
    border-radius: 35px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    place-items: center;
    margin-left: 15px;
}

.imagemp {
    border-radius: 25px;
    width: 500px;
    height: 400px;
}

.descricao {
    background-color: #0a5500;
    height: 400px;
    grid-column: 2;
    grid-row: 1;
    display: grid;
    border-radius: 20px;
    width: 600px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 20px;
    position: relative;
}

.descricao p {
    color: white;
    margin-top: 25px;
    margin-left: 30px;
    font-size: 18px;
    word-wrap: break-word;
    white-space: normal;
    max-width: 640px;
}

.descricao a {
    text-decoration: none;
}

.descricao a h3 {
    color: #0a5500;
    margin-left: 25px;
    margin-top: 15px;
    display: grid;
    align-items: end;
    font-size: 25px;
    background-color: white;
    padding: 2px;
    border-radius: 20px;
    width: 215px;
    text-align: center;
    position: absolute;
    bottom: 20px;
}

.jv p{
    font-size: 18px;

}




